*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    color: white;
    text-align: center;
    background-color: rgb(62, 18, 104);    
    font-size: 12px;
    height: 60px;
    line-height: 60px;
}

.game{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.choice img{
    height: 200px;
    border-radius: 50%;
    background-color: blueviolet;
}

.choice img:hover{
    border: 4px solid rgb(83, 0, 83);
}

.result{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result div{
    text-align: center;
}


.main_select{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_select button{
    width: 15%;
    height: 40px;
    color: white;
    background-color: rgb(94, 30, 153);
    border-radius: 20px;
    cursor: pointer;
    border: none;

}

hr{
    width: 2px;
    height: 60px;
    background-color: rgb(40, 0, 56);
    color: #000;
}

.main_select button:hover{
    border: 4px solid rgb(83, 0, 83);
    
}


